* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #ffdf75; }

.header {
  color: #f14805;
  background-color: #f14805; }
  .header a {
    font-size: 25px;
    color: #ffdf75;
    transition: 0.8s; }
    .header a:hover {
      transform: translateX(5px); }

#formulario {
  padding: 8px;
  gap: 10px;
  border-color: brown; }
  #formulario input {
    gap: 10px;
    background-color: #f14805;
    color: #ffdf75; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#caribe {
  padding: 10px;
  border-radius: 10px solid; }
  #caribe h5 {
    font-size: 50px;
    transition: 0.8s;
    color: #ffdf75; }
    #caribe h5:hover {
      cursor: pointer;
      color: #f14805;
      transform: translateX(10px); }

#sudamerica {
  padding: 10px;
  border-radius: 10px;
  border-color: #a01d1d; }
  #sudamerica h5 {
    font-size: 50px;
    transition: 0.8s;
    color: #ffdf75; }
    #sudamerica h5:hover {
      cursor: pointer;
      color: #f14805;
      transform: translateX(10px); }

#europa {
  padding: 10px;
  border-radius: 10px;
  border-color: #a01d1d; }
  #europa h5 {
    font-size: 50px;
    transition: 0.8s;
    color: #ffdf75; }
    #europa h5:hover {
      cursor: pointer;
      color: #f14805;
      transform: translateX(10px); }

#asia {
  padding: 10px;
  border-radius: 10px;
  border-color: #a01d1d; }
  #asia h5 {
    font-size: 50px;
    transition: 0.8s;
    color: #ffdf75; }
    #asia h5:hover {
      cursor: pointer;
      color: #f14805;
      transform: translateX(10px); }
