*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width:767px){
    body{
        background-color: rgb(255, 223, 117);
    }
    /* GRILLA CON GRID */
    #grilla{
            display: grid;
            grid-template-areas:
            "header header header"
            "formulario formulario formulario"
            "varaderos varaderos varaderos"
            "playadelcarmen playadelcarmen playadelcarmen"
            "sanandres sanandres sanandres"
            "puntacana puntacana puntacana"
            "islamargarita islamargarita islamargarita"
            "bahamas bahamas bahamas"
            "footer footer footer";
            grid-template-columns: auto auto auto;
            grid-template-rows: 80px auto 250px 250px 250px 250px 250px 250px auto;
            height: 100%;
            gap: 10px;
            padding: 10px;
        
        }
    
      /* HEADER  */
      .header{
        grid-area: header;
        background-color: rgb(248, 182, 156);
        width: 100%;
        nav{
            display: flex;
            margin-top: 15px;
        }
        .menu{
            display: flex;
            flex-direction: row;
           justify-items: flex-end;
    
        }
        img{
            width: 50px;
            cursor: pointer;
            transition: 0.7s;
            &:hover{
            
                    color: rgb(245, 0, 0);
                    transform: scale(1.4);
            }
    
         
    
        }
        .links{
            display: flex;
            justify-items: flex-end;
           
        }
        a{
            padding: 10px 20px;
            color: rgb(170, 54, 0);
            text-decoration: none;
            font-size: 20px;
            transition: 1s;  
        }
        a:hover{
            color: rgb(245, 0, 0);
            transform: scale(1.2);
        }
    }
    
    
    
  /* FORMULARIO */
    
  .formulario{
    grid-area: formulario;
    background-color: rgb(248, 182, 156);
    background-size: 100% 100%;


    
    input{
        width: 99%;
    margin: 5px 5px;
    background-color: rgb(232, 238, 151);
    
    }
    label{
        color: rgb(170, 54, 0);
    }
    
    select{
        width: 99%;
        margin: 5px 5px;
        background-color: rgb(232, 238, 151);
        cursor: pointer;
    }
    .button{
        width: 99%;
        padding: 10px;
        margin: 5px 5px;
    }
    .date{
        width: 47%;
        cursor:text;
        margin-left: 8px;
        border-radius: 5px;
    }



}
    /* SECCIONES  */
    
    
    .varaderos {
        grid-area: varaderos;
        background-image: url(imagenes/Varaderos.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
        
        }
    
  
    
    .playadelcarmen {
            grid-area: playadelcarmen;   
            background-image: url(imagenes/playadelcarmen.png);  
            background-size: 100% 100%;
            border-radius: 10px;
    padding: 5px 5px;
         }
    .sanandres {
        grid-area: sanandres;
        background-image: url(imagenes/sanandres.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    
    }
    .puntacana {
        grid-area: puntacana;
        background-image: url(imagenes/puntacana.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    }
    .islamargarita{
        grid-area: islamargarita;
        background-image: url(imagenes/islamargarita.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    
    }
    .bahamas{
        grid-area: bahamas;
        background-image: url(imagenes/bahamas.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    
    }
    /* FOOTER */

.footer{
    grid-area: footer;
    background-color: rgb(248, 182, 156);
    display: flex;

    justify-content: space-between;
    h2{
        color: rgb(170, 54, 0);
        font-size: 20px;  
        margin: 5px 5px;
    }
    input{
        margin: 5px 5px;
        background-color: rgb(232, 238, 151);
        width: 400px;
    }
    button{
        width: 150px;
        margin: 5px 5px;
    }
    i{
        color: rgb(170, 54, 0);
        font-size: 13px;
        margin: 5px 5px;
    }
}
}
   
/* ACA COMIENZA LA VERSION DESKTOP */   


@media (min-width:768px){
    body{
        background-color: rgb(255, 223, 117);
    }
    /* GRILLA CON GRID */
    #grilla{
            display: grid;
            grid-template-areas:
            "header header header header"
            "formulario formulario formulario formulario"
            "varaderos varaderos playadelcarmen playadelcarmen"
            "sanandres sanandres puntacana puntacana"
            "islamargarita islamargarita bahamas bahamas"
            "footer footer footer footer";
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 80px auto 250px 250px 250px auto;
            height: 100%;
            gap: 10px;
            padding: 10px;
        
        }
    
      /* HEADER  */
      .header{
        grid-area: header;
        background-color: rgb(248, 182, 156);
        width: 100%;
        nav{
            display: flex;
            margin-top: 15px;
        }
        .menu{
            display: flex;
            flex-direction: row;
           justify-items: flex-end;
    
        }
        img{
            width: 50px;
            cursor: pointer;
            transition: 0.7s;
            &:hover{
            
                    color: rgb(245, 0, 0);
                    transform: scale(1.4);
            }
    
         
    
        }
        .links{
            display: flex;
            justify-items: flex-end;
           
        }
        a{
            padding: 10px 20px;
            color: rgb(170, 54, 0);
            text-decoration: none;
            font-size: 20px;
            transition: 1s;  
        }
        a:hover{
            color: rgb(245, 0, 0);
            transform: scale(1.2);
        }
    }
    
    
    
  /* FORMULARIO */
    
  .formulario{
    grid-area: formulario;
    background-color: rgb(248, 182, 156);
    background-size: 100% 100%;


    
    input{
        width: 40%;
    margin: 5px 5px;
    background-color: rgb(232, 238, 151);
    
    }
    label{
        color: rgb(170, 54, 0);
    }
    
    select{
        width: 40%;
        margin: 5px 5px;
        background-color: rgb(232, 238, 151);
        cursor: pointer;
    }
    .button{
        width: 40%;
        padding: 10px;
        margin: 5px 5px;
    }
    .date{
        width: 290px;
        cursor:text;
        margin-left: 8px;
        border-radius: 5px;
    }



}
    /* SECCIONES  */
    
    
    .varaderos {
        grid-area: varaderos;
        background-image: url(imagenes/Varaderos.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
        
        }
    
  
    
    .playadelcarmen {
            grid-area: playadelcarmen;   
            background-image: url(imagenes/playadelcarmen.png);  
            background-size: 100% 100%;
            border-radius: 10px;
    padding: 5px 5px;
         }
    .sanandres {
        grid-area: sanandres;
        background-image: url(imagenes/sanandres.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    
    }
    .puntacana {
        grid-area: puntacana;
        background-image: url(imagenes/puntacana.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    }
    .islamargarita{
        grid-area: islamargarita;
        background-image: url(imagenes/islamargarita.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    
    }
    .bahamas{
        grid-area: bahamas;
        background-image: url(imagenes/bahamas.png);
        background-size: 100% 100%;
        border-radius: 10px;
    padding: 5px 5px;
    
    }
    /* FOOTER */

.footer{
    grid-area: footer;
    background-color: rgb(248, 182, 156);
    display: flex;

    justify-content: space-between;
    h2{
        color: rgb(170, 54, 0);
        font-size: 20px;  
        margin: 5px 5px;
    }
    input{
        margin: 5px 5px;
        background-color: rgb(232, 238, 151);
        width: 400px;
    }
    button{
        width: 150px;
        margin: 5px 5px;
    }
    i{
        color: rgb(170, 54, 0);
        font-size: 13px;
        margin: 5px 5px;
    }
}

}
