#footer{
    h2{
        font-size: 30px;
        margin: 10px 10px;
        color: rgb(241, 72, 5);
    }
    input{
        gap: 10px;
        background-color: rgb(241, 72, 5);
        color: rgb(255, 223, 117);
        margin: 10px 10px;
    }
    button{
        width: 100%;
       margin: 10px 10px;
    }
    i{
        margin: 10px 10px;
        color: rgb(241, 72, 5);
    }

    }

