@media (max-width: 767px){
    /* FOOTER */

.footer{
    grid-area: footer;
    background-color: rgb(248, 182, 156);
    h2{
        color: rgb(170, 54, 0);
        font-size: 20px;  
        margin: 5px 5px;
    }
    input{
        margin: 5px 5px;
        background-color: rgb(232, 238, 151);
        width: 400px;
    }
    button{
        width: 150px;
        margin: 5px 5px;
    }
    i{
        color: rgb(170, 54, 0);
        font-size: 13px;
        margin: 5px 5px;
    }
}


}
@media (min-width:768px){
 /* FOOTER */

 .footer{
    grid-area: footer;
    background-color: rgb(248, 182, 156);
    display: flex;

    justify-content: space-between;
    h2{
        color: rgb(170, 54, 0);
        font-size: 20px;  
        margin: 5px 5px;
    }
    input{
        margin: 5px 5px;
        background-color: rgb(232, 238, 151);
        width: 400px;
    }
    button{
        width: 150px;
        margin: 5px 5px;
    }
    i{
        color: rgb(170, 54, 0);
        font-size: 13px;
        margin: 5px 5px;
    }
 }
    


}