*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 223, 117);
}
.header{
    
 color: rgb(241, 72, 5);
    background-color: rgb(241, 72, 5);
   a{
    font-size: 25px;
    color:rgb(255, 223, 117);
    transition: 0.8s;
    &:hover{
        transform: translateX(5px);
    }
   }
}
#formulario{
    padding: 8px;
    gap: 10px;
    border-color: brown;
    input{
       gap: 10px;
        background-color: rgb(241, 72, 5);
        color: rgb(255, 223, 117);
    
    }
    
}