*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width:767px){
    body{
        background-color: rgb(255, 223, 117);
    }
    #grilla{
        display: grid;
        grid-template-areas:
        "header header header"
        "formulario formulario formulario"
        
        "caribe caribe caribe"
        "sudamerica sudamerica sudamerica"
        "europa europa europa"
        "asia asia asia"
        "footer footer footer";
        grid-template-columns: auto auto auto;
        grid-template-rows: 80px auto  250px 250px 250px 250px auto;
        height: 100%;
        gap: 10px;
        padding: 10px;
    
    }
        /* HEADER  */
    .header{
        grid-area: header;
        background-color: rgb(248, 182, 156);
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 15px;
        }
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        align-items: center;
        }
        img{
            width: 50px;
            cursor: pointer;
            transition: 0.7s;
            &:hover{
            
                    color: rgb(245, 0, 0);
                    transform: scale(1.4);
            }

         

        }
        .links{
            display: flex;
        }
        a{
            padding: 10px 20px;
            color: rgb(170, 54, 0);
            text-decoration: none;
            font-size: 20px;
            transition: 1s;  
        }
        a:hover{
            color: rgb(245, 0, 0);
            transform: scale(1.2);
        }
    }
   
    

/* FORMULARIO */
    
    .formulario{
        grid-area: formulario;
        
        input{
            width: 99%;
        margin: 5px 5px;
        background-color: rgb(248, 182, 156);
        
        }
        label{
            color: rgb(170, 54, 0);
        }
        
        select{
            width: 99%;
            margin: 5px 5px;
            background-color: rgb(248, 182, 156);
            cursor: pointer;
        }
        .button{
            width: 100%;
            padding: 10px;
        }
        .date{
            width: 47%;
            cursor:text;
            margin-left: 8px;
        }


 
    }
    /* SECCIONES  */
.caribe{
    grid-area: caribe;   
    background-image: url(imagenes/playa3.png);
    background-size: 100% 100%;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
.sudamerica{
    grid-area: sudamerica;   
    background-image: url(imagenes/sudamerica.png);  
    background-size: 100% 100%;
}
.europa{
    grid-area: europa;
    background-image: url(imagenes/europa.png);
    background-size: 100% 100%;
}
.asia{
    grid-area: asia;
    background-image: url(imagenes/asia.png);
    background-size: 100% 100%;
}
section h1{
    font-size: 40px;
    color: rgb(230, 96, 78);
    transition: 1s;
    
    }
    section h1:hover{
    cursor: pointer;
    color: rgb(245, 0, 0);
    transform: translate(10px);
    }

 /* FOOTER */

.footer{
    grid-area: footer;
    background-color: rgb(248, 182, 156);
    h2{
        color: rgb(170, 54, 0);
        font-size: 20px;  
    }
    input{
        margin: 5px 5px;
        background-color: rgb(232, 238, 151);
        width: 400px;
    }
    button{
        width: 150px;
    }
    i{
        color: rgb(170, 54, 0);
        font-size: 13px;
    }
}


}




/* HASTA ACA ES EL DISEÑO PARA CELULAR  */

/* ACA EMPIEZA EL DISEÑO DESKTOP */

    
    

   
    











