@import "header";
@import "footer";
@import "formulario";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width:767px){
    body{
        background-color: rgb(255, 223, 117);
    }
    #grilla{
        display: grid;
        grid-template-areas:
        "header header header"
        "formulario formulario formulario"
        
        "caribe caribe caribe"
        "sudamerica sudamerica sudamerica"
        "europa europa europa"
        "asia asia asia"
        "footer footer footer";
        grid-template-columns: auto auto auto;
        grid-template-rows: 80px auto  250px 250px 250px 250px auto;
        height: 100%;
        gap: 10px;
        padding: 10px;
    
    }
      /* SECCIONES  */
.caribe{
    grid-area: caribe;   
    background-image: url(imagenes/playa3.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
.sudamerica{
    grid-area: sudamerica;   
    background-image: url(imagenes/sudamerica.png);  
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
.europa{
    grid-area: europa;
    background-image: url(imagenes/europa.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
.asia{
    grid-area: asia;
    background-image: url(imagenes/asia.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
section h1{
    font-size: 40px;
    color: rgb(230, 96, 78);
    transition: 1s;
    
    }
    section h1:hover{
    cursor: pointer;
    color: rgb(245, 0, 0);
    transform: translate(10px);
    }
}



    /* HASTA ACA ES EL DISEÑO PARA CELULAR  */

/* ACA EMPIEZA EL DISEÑO DESKTOP */

    
@media (min-width:768px){
    body{
        background-color: rgb(255, 223, 117);
    }
    #grilla{
        display: grid;
        grid-template-areas:
        "header header header header"
        "formulario formulario formulario formulario"
        "caribe caribe sudamerica sudamerica"
        "europa europa asia asia" 
        "footer footer footer footer";
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 80px 280px 300px 300px auto;
        height: 100%;
        gap: 10px;
        padding: 10px;
    
    }
      /* SECCIONES  */
.caribe{
    grid-area: caribe;   
    background-image: url(imagenes/playa3.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
  
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
.sudamerica{
    grid-area: sudamerica;   
    background-image: url(imagenes/sudamerica.png);  
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
.europa{
    grid-area: europa;
    background-image: url(imagenes/europa.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
.asia{
    grid-area: asia;
    background-image: url(imagenes/asia.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
    a{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
}
section h1{
    font-size: 40px;
    color: rgb(230, 96, 78);
    transition: 1s;
    
    }
    section h1:hover{
    cursor: pointer;
    color: rgb(245, 0, 0);
    transform: translate(10px);
    }

}
   