*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width:767px){
body{
    background-color: rgb(255, 223, 117);
}
/* GRILLA CON GRID */
#grilla{
        display: grid;
        grid-template-areas:
        "header header header"
        "formulario formulario formulario"
        "varaderos varaderos varaderos"
        "playadelcarmen playadelcarmen playadelcarmen"
        "sanandres sanandres sanandres"
        "puntacana puntacana puntacana"
        "islamargarita islamargarita islamargarita"
        "bahamas bahamas bahamas"
        "footer footer footer";
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 80px auto 280px 280px 280px 280px 280px 280px auto;
        height: 100%;
        gap: 10px;
        padding: 10px;
    
    }

/* SECCIONES  */

section#varaderos {
        grid-area: varaderos;   
        background-image: url(CSS/imagenes/Varaderos.png);  
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
     }


section#playadelcarmen {
        grid-area: playadelcarmen;   
        background-image: url(CSS/imagenes/playadelcarmen.png);  
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
     }
section#sanandres {
    grid-area: sanandres;
    background-image: url(css/imagenes/sanandres.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;

}
section#puntacana {
    grid-area: puntacana;
    background-image: url(css/imagenes/puntacana.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
}
section#islamargarita{
    grid-area: islamargarita;
    background-image: url(css/imagenes/islamargarita.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;

}
section#bahamas{
    grid-area: bahamas;
    background-image: url(css/imagenes/bahamas.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;

}
section h1{
    font-size: 40px;
    color: rgb(230, 96, 78);
    transition: 1s;

}
section h1:hover{
    cursor: pointer;
    color: rgb(245, 0, 0);
    transform: translate(10px);
}
}
/* HASTA ACA ES EL DISEÑO PARA CELULAR  */

/* ACA EMPIEZA EL DISEÑO DESKTOP */

@media (min-width:768px){
    body{
        background-color: rgb(255, 223, 117);
    }
    /* GRILLA CON GRID */
    #grilla{
            display: grid;
            grid-template-areas:
            "header header header header"
            "formulario formulario formulario formulario"
            "varaderos varaderos playadelcarmen playadelcarmen"
            "sanandres sanandres puntacana puntacana"
            "islamargarita islamargarita bahamas bahamas"
            "footer footer footer footer";
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 80px auto 250px 250px 250px auto;
            height: 100%;
            gap: 10px;
            padding: 10px;
        
        }
    
  
    /* SECCIONES  */
    
    section#varaderos {
            grid-area: varaderos;   
            background-image: url(CSS/imagenes/Varaderos.png);  
            background-size: 100% 100%;
            border-radius: 10px;
            padding: 5px 5px;
         }
     section#varaderos a{
             font-size: 40px;
            color: rgb(230, 96, 78);
            transition: 1s;
            text-decoration: none;
        
        }
        section#varaderos a:hover{
            cursor: pointer;
            color: rgb(245, 0, 0);
            transform: translate(10px);
        
        }
    section#playadelcarmen {
            grid-area: playadelcarmen;   
            background-image: url(CSS/imagenes/playadelcarmen.png);  
            background-size: 100% 100%;
            border-radius: 10px;
            padding: 5px 5px;
         }
    section#sanandres {
        grid-area: sanandres;
        background-image: url(css/imagenes/sanandres.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    
    }
    section#puntacana {
        grid-area: puntacana;
        background-image: url(css/imagenes/puntacana.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    }
    section#islamargarita{
        grid-area: islamargarita;
        background-image: url(css/imagenes/islamargarita.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    
    }
    section#bahamas{
        grid-area: bahamas;
        background-image: url(css/imagenes/bahamas.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    
    }
    section h1{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
    
    }
    section h1:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
    }

    