*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width:767px){
body{
    background-color: rgb(255, 223, 117);
}
/* GRILLA CON GRID */
#grilla{
        display: grid;
        grid-template-areas:
        "header header header"
        "formulario formulario formulario"
        "paris paris paris"
        "roma roma roma"
        "viena viena viena"
        "madrid madrid madrid"
        "amsterdam amsterdam amsterdam"
        "berlin berlin berlin"
        "footer footer footer";
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 80px auto 280px 280px 280px 280px 280px 280px auto;
        height: 100%;
        gap: 10px;
        padding: 10px;
    
    }


/* SECCIONES  */

.paris {
        grid-area: paris;   
        background-image: url(CSS/imagenes/paris.png);  
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
     }


.roma {
        grid-area: roma;   
        background-image: url(CSS/imagenes/roma.png);  
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
     }
.viena {
    grid-area: viena;
    background-image: url(CSS/imagenes/viena.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;

}
.madrid {
    grid-area: madrid;
    background-image: url(css/imagenes/madrid.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;
}
.amsterdam{
    grid-area: amsterdam;
    background-image: url(CSS/imagenes/amstardam.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;

}
.berlin{
    grid-area: berlin;
    background-image: url(CSS/imagenes/berlin.png);
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 5px 5px;

}
section h1{
    font-size: 40px;
    color: rgb(230, 96, 78);
    transition: 1s;

}
section h1:hover{
    cursor: pointer;
    color: rgb(245, 0, 0);
    transform: translate(10px);
}

}

/* HASTA ACA ES EL DISEÑO PARA CELULAR  */

/* ACA EMPIEZA EL DISEÑO DESKTOP */

@media (min-width:768px){
    body{
        background-color: rgb(255, 223, 117);
    }
    /* GRILLA CON GRID */
    #grilla{
            display: grid;
            grid-template-areas:
            "header header header header"
            "formulario formulario formulario formulario"
            "paris paris roma roma"
            "viena viena madrid madrid"
            "amsterdam amsterdam berlin berlin"
            "footer footer footer footer";
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 80px auto 250px 250px 250px auto;
            height: 100%;
            gap: 10px;
            padding: 10px;
        
        }
  
    
.paris {
            grid-area: paris;   
            background-image: url(CSS/imagenes/paris.png);  
            background-size: 100% 100%;
            border-radius: 10px;
            padding: 5px 5px;
         }
  
.roma{
            grid-area: roma;   
            background-image: url(CSS/imagenes/roma.png);  
            background-size: 100% 100%;
            border-radius: 10px;
            padding: 5px 5px;
         }
  .viena {
        grid-area: viena;
        background-image: url(CSS/imagenes/viena.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    
    }
 .madrid {
        grid-area: madrid;
        background-image: url(CSS/imagenes/madrid.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    }
   .amsterdam{
        grid-area: amsterdam;
        background-image: url(CSS/imagenes/amstardam.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    
    }
    .berlin {
        grid-area: berlin;
        background-image: url(css/imagenes/berlin.png);
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 5px 5px;
    
    }
    section h1{
        font-size: 40px;
        color: rgb(230, 96, 78);
        transition: 1s;
    
    }
    section h1:hover{
        cursor: pointer;
        color: rgb(245, 0, 0);
        transform: translate(10px);
    }
 }

    